
<div class="search-bar p-2 d-flex justify-content-center">
  <form class="search-bar-form">
    <input ng-model="buscar" class="input-search" type="text" name="buscarPersonagem" id="buscar" placeholder="Which character are you looking for?">
    <button type="submit">
      <i class="fas fa-search"></i>
    </button>
    
  </form>
</div>
<section class="main-section h-full">
  <div class="d-flex px-2 px-sm-5 flex-column justify-content-center ">
    <div class="w-full d-flex flex-wrap justify-content-center ">
      
      <div dir-paginate="ch in characters | itemsPerPage:100 | filter:buscar" class="d-flex px-2 px-sm-1 pt-2" total-items="totalItens" current-page="current">
        <div ng-click="goToDetalhes(ch.id)" class="card">
          <img ng-src="{{getThumbnail(ch.thumbnail)}}" class="card-img-top" >
          <div class="card-body">
            <h5 class="card-title">{{ch.name}}</h5>
            <p class="card-text">{{limitDesc(ch.description)}}</p>
          </div>
        </div>
      </div>

      
    </div>
    <dir-pagination-controls class="paginate" ng-click="paginate(current)"></dir-pagination-controls>
  </div>
  
</section>

