:root {
  --defaultHeight: 60px;
}
@font-face {
  font-family: bebas;
  src: url(../font/Bebas-Regular.ttf);
}

body, html{
  font-family: bebas;
  height: 100%;
  background: linear-gradient(to bottom, #1f1f1f, #1b1a1a);
}

.wrapper{
  height: 100%;
  
}

.header, .footer {
  background-color: #ec1d24;
  height:var(--defaultHeight);
}

.footer{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}

.listaPersonagens{
  height: 88.3%;
  padding-bottom: 80px;
}

.main-section{
  
  overflow-y: auto;
}

.search-bar{
  background-color: #e5e5e5;
  height: 50px;
}

.input-container{
  width: 100%;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
}

.search-bar-form{
  display: flex;
  width: 100%;
  max-width: 500px;
  justify-content: center;
}
.search-bar-form input{
  border: 0;
  padding: 5px 15px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  outline: none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.search-bar-form button{
  border: 0;
  outline: none;
  background-color: #1e1e1e;
  color: white;
  padding: 5px 20px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

/* commom */
.w-full{
  width: 100%;
}
.h-full{
  height: 100%;
}

/* bootstrap */

.card{
  max-width: 240px;
  max-height: 400px;
  cursor: pointer;
  background-color: #e5e5e5;
}

.card:hover{
  opacity: 0.5;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

/* ::-webkit-scrollbar-track {
  background: #555; 
  padding:10px;
  width: 15px;
} */
 
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}