:root {
  --defaultHeight: 60px;
}
@font-face {
  font-family: bebas;
  src: url(../font/Bebas-Regular.ttf);
}

body, html{
  font-family: bebas;
  height: 100%;
  background: linear-gradient(to bottom, #1f1f1f, #1b1a1a);
  overflow: hidden;
}

.wrapper{
  height: 100%;
}

.header, .footer {
  background-color: #ec1d24;
  height:var(--defaultHeight);
}

.footer{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}

.listaPersonagens{
  height: 88.3%;
  padding-bottom: 80px;
}

.main-section{
  
  overflow-y: auto;
}

.search-bar{
  background-color: #e5e5e5;
  height: 50px;
}

.input-container{
  width: 100%;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
}

.search-bar-form{
  display: flex;
  width: 100%;
  max-width: 500px;
  justify-content: center;
}
.search-bar-form input{
  border: 0;
  padding: 5px 15px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  outline: none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.search-bar-form button{
  border: 0;
  outline: none;
  background-color: #1e1e1e;
  color: white;
  padding: 5px 20px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.container-profile{
  max-width: 1200px;
  border-radius: 10px;
}
.image-profile img{
  border-radius: 100%;
}
.info-profile{
  max-width: 800px;
}

.info-profile h1{
  font-size: 2em;
}
.comics h1{
  color: white;
  
}
.comics{
  max-width: 1200px;
  padding-bottom: 200px;
}

/* commom */
.w-full{
  width: 100%;
}
.h-full{
  height: 100%;
}

/* bootstrap */

.card{
  max-width: 240px;
  max-height: 400px;
  cursor: pointer;
  background-color: #e5e5e5;
}

.card:hover{
  opacity: 0.5;
}

.back{
  color: white;
  padding-top: 13px;
  font-size: 1.5em;
  cursor: pointer;
}

.login-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.login-container{
  max-width: 500px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin: 0 20px;
  background-color: white;
}

.pagination{
 
  background-color: #ec1d24;
  display: flex;
  justify-content: center;
  font-size: 2em;
  margin: auto;
  margin-top: 10px;
  border-radius: 50px;

}

@media (max-width: 500px)
{
  .pagination
   {
    font-size: 1em;
   }
}

.paginate{
  position: absolute;
  bottom: 70px;
}

.pagination li a{
  text-decoration: none;
  color: white;
  
}

.pagination li{
  padding: 0 10px;
}

.pagination li.active{
  background-color: rgb(95, 0, 0);
}

.overlay-spinner{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-spinner div{
  display: grid;
  justify-content: center;
  justify-items: center;
}

.overlay-spinner div img{
  max-width: 250px;
}

.spinner-border{
  display: inline-block;
  width: 5rem;
  height: 5rem;
  vertical-align: -0.125em;
  border: 1.25em solid #ec1d24;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: .75s linear infinite spinner-border;
  animation: .75s linear infinite spinner-border;
}



/* scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

/* ::-webkit-scrollbar-track {
  background: #555; 
  padding:10px;
  width: 15px;
} */
 
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}